{% extends 'base.html' %}
{% load static %}
{% block title %} Login {% endblock title %}

{% load crispy_forms_tags %}

{% block body %}

{% if messages %}
{% comment %} 
    {% for message in messages %}
        <li class="alert alert-success" role="alert">
                {{ message }}
        </li>
    {% endfor %} {% endcomment %}

    <ul class="messages">
    {% for message in messages %}
    <li 
     {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </li>
    {% endfor %}
    </ul> 
{% endif %}

{% comment %} {% for msg in messages %}
        <div class="alert alert-success" role="alert">
                {{ msg }}
        </div>
        {% endfor %} {% endcomment %}


<br>



<div>

<form method="post">
    {% csrf_token %}

    <!-- django default login form start -->
    {{ form|crispy}}
    <!-- django default login form end -->

    <p>Don't have an account?  <a href="/user/sign-up"><span style='color:red;'>Create Here!!</span></a></p>
    <button type="submit" class="btn btn-success">Login</button>
</form>
</div>

{% endblock body %}