{% extends 'base.html' %}
{% load static %}
{% block title %} Sign up {% endblock title %}

{% load crispy_forms_tags %}



{% block body %}

{% comment %} {% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li  {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </li>
    {% endfor %}
</ul>
{% endif %} {% endcomment %}



<form method="post">
    {% csrf_token %}

    <!-- django default login form start -->
    {{ form|crispy}}
    <!-- django default login form end -->

    <p>Have an account? <a href="/login"><span style='color:red;'>Sign in Here!!</a></span></p>
    <button type="submit" class="btn btn-success">Register</button>
</form>


{% endblock body %}